@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Poppins:300,regular,italic,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:regular,italic,700,900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
}

html {
  font-size: 20px;
  /* по умолчанию */
}

body {
  line-height: 1;
  font-family: "Poppins";
  background: rgb(203, 199, 255);
}

.sony {
  background: rgb(40, 40, 40);
  padding: 54px 52px 239px;
  max-width: 700px;
  width: 100%;
  border-radius: 0 14px 14px 14px;
  border-right: 15px solid rgb(192, 187, 255);
  border-bottom: 15px solid rgb(192, 187, 255);
  position: relative;
}

.sony__titles {
  margin-bottom: 131px;
}

.sony__title {
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: bold;
  line-height: 1;
}

.sony__subtitle {
  color: rgb(255, 255, 255);
  font-family: Lato;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
}

.sony__aside-line {
  border-radius: 20px;
  background: rgb(196, 196, 196);
  width: 8px;
  height: 140px;
  position: absolute;
  top: 50%;
  left: 52px;
  transform: translateY(-50%);
}

.sony__aside-line::after {
  content: "";
  position: absolute;
  bottom: 0;
  border-radius: 20px;
  background: rgb(146, 136, 255);
  width: 8px;
  height: 80px;
}

.sony__btn-video,
.submit-btn {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  position: absolute;
  bottom: -38px;
  right: 50px;
  border-radius: 10px;
  background: rgb(146, 136, 255);
  padding: 19px 37px;
  display: flex;
  align-items: center;
  color: rgb(0, 0, 0);
  font-family: Lato;
  gap: 14px;
  cursor: pointer;
}

.sony__btn-video img,
.submit-btn img {
  background: rgb(255, 255, 255);
  border-radius: 50%;
  padding: 8px 7px;
  transition: all 0.3s ease-in-out 0s;
}

.sony__btn-video:hover img,
.submit-btn:hover img {
  transform: translateX(5px);
}

.main {
  display: flex;
  width: 1480px;
  margin: 20px auto;
  padding: 0 0 137px 0;
  border: 20px solid rgb(0, 0, 0);
  border-radius: 30px;
  box-shadow: 30px 30px 20px 0px rgba(146, 136, 255, 0.4);
  background: rgb(255, 255, 255);
}

.main__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main__header {
  display: grid;
  grid-template-columns: repeat(4, 169px);
  gap: 20px;
  padding: 51px 30px 65px 30px;
}

.main__btn {
  padding: 19px 42px;
  border: none;
  outline: none;
  background-color: rgb(192, 187, 255);
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  font-family: Lato;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  border-radius: 40px;
  cursor: pointer;
  transition: all 0.4s ease-in-out 0s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main__btn:hover {
  background-color: rgb(146, 136, 255);
  color: rgb(255, 255, 255);
}

.main__info {
  padding: 0px 64px 10px 51px;
}

.main__subtitle {
  color: rgba(40, 40, 40, 0.8);
  font-family: Lato;
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 12px;
}

.main__title {
  max-width: 276px;
  color: rgb(59, 45, 222);
  font-family: Lato;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.11;
}

.main__container {
  margin: 0 auto 45px;
  flex: auto;
}

.main__table {
  background: white;
  padding: 20px;
  text-align: center;
  width: 600px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
  border: 10px solid rgb(146, 136, 255);
  border-radius: 30px;
  border-collapse: collapse;
}

.main__table td {
  padding: 12px;
  border-bottom: 2px solid rgb(146, 136, 255);
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.main__table tr:last-child td {
  border-bottom: none;
}

.main__desc-product {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: #000;
  padding: 10px 64px 10px 51px;
}

.main__text {
  text-align: center;
}

.main__description,
.modal-content h2,
.main__link {
  font-family: Lato;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.125;
}

.main__link {
  color: rgb(59, 45, 222);
}

.text-main {
  max-width: 476px;
  margin-left: 87px;
}

.text-main__title {
  max-width: 268px;
  color: rgb(255, 255, 255);
  font-size: 48px;
  font-weight: 600;
  line-height: 1.46;
  margin-bottom: 31px;
}

.text-main__subtitle {
  color: rgb(146, 136, 255);
  font-size: 48px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 24px;
}

.text-main__desc {
  color: rgb(255, 255, 255);
  font-size: 36px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 46px;
}

.text-main__price {
  color: rgb(255, 255, 255);
  font-family: Lato;
  font-style: italic;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.13;
}

.tabs {
  display: flex;
  gap: 10px;
}

.tab-btn {
  padding: 10px 15px;
  cursor: pointer;
  border: none;
}

.tab-btn.active {
  background: rgb(59, 45, 222);
  color: rgb(255, 255, 255);
}